body {
    
    margin: 0;
}

grey {
    height: 15vh;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: flex-start;
    
}
logobox {
    height: 12vh;
    width: 100px;
    background-color: #3d97ff;
    margin-left: 20px; 
    margin-top: 10px;
    
}
white {
    height: 26vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
p {
    padding-right: 20px;
    padding-left: 30px;
    font-family: sans-serif;
    
}
blue {
    height: 15vh;
    width: 100%;
    background-color: #3d97ff;
    display: inline-block;
   
}

aqua {
    height: 15vh;
    width: 100%;
    background-color: #3dffd1;
    display: inline-block;
    margin-top: -5px;
}

green {
    height: 15vh;
    width: 100%;
    background-color: #45bc67;
    display: inline-block;
    margin-top: -5px;
}

gold {
    height: 15vh;
    width: 100%;
    background-color: gold;
    display: inline-block;
    margin-top: -5px;
}



